.profile_about {
  margin: 0;
  grid-area: about;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 690px) {
  .profile_about {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 500px) {
  .profile_about {
    text-align: center;
  }
}
