.profile_edit-button {
  padding: 0;
  margin: 0;
  align-self: center;
  grid-area: button;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.profile_edit-button:hover {
  opacity: 0.6;
}

.profile_edit-button:active {
  outline: none;
  border: none;
  opacity: 0.6;
}

.profile_edit-button:focus {
  opacity: 0.6;
  outline: none;
  border: none;
  scale: 1.3;
}

@media screen and (max-width: 500px) {
  .profile_edit-button {
    width: 18px;
    height: 18px;
  }
}
