.profile__about {
  margin: 0;
  grid-area: about;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 690px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 650px) {
  .profile__about {
    text-align: center;
  }
}

.profile__about:empty {
  margin-top: 8px;
  opacity: 0.5;
  width: 130px;
  height: 15px;
  border-radius: 1.5px;
  cursor: progress;
  animation: loading 0.4s infinite alternate;
}

@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }

    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
}
