.edit-form__submit-button {
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
  cursor: pointer;
  transition-property: font-size, opacity, transform;
  transition: 0.4s ease;
  /* outline: thin solid rgb(175, 113, 255); */
}

@media screen and (max-width: 690px) {
  .edit-form__submit-button {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}

.edit-form__submit-button:hover {
  opacity: 0.8;
  font-size: 17px;
}

.edit-form__submit-button:focus {
  transform: scale(1.03);
  outline: none;
}