.card__like-icon {
  width: 22px;
  height: 19px;
  margin-left: 7px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.card__like-icon:hover {
  opacity: 0.5;
}

.card__like-icon:focus {
  border: none;
  outline: none;
}

.card__like-icon:active {
  border: none;
  outline: none;
}
