.card__info {
  max-width: 100%;
  max-height: 79px;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 20px 25px 21px;
  display: flex;
}
