.header {
  max-width: calc(100% - (200px * 2));
  margin: 0 auto;
  padding-bottom: 41px;
  box-shadow: 0 1px rgba(84, 84, 84, 0.7);
  /* outline: thin solid rgb(175, 113, 255); */
}

@media screen and (max-width: 1140px) {
  .header {
    max-width: calc(100% - (150px * 2));
  }
}

@media screen and (max-width: 980px) {
  .header {
    max-width: calc(100% - (100px * 2));
  }
}

@media screen and (max-width: 870px) {
  .header {
    max-width: calc(100% - (50px * 2));
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 100%;
    padding-bottom: 31px;
  }
}
