.edit-form__input-error-text {
    display: block;
    min-height: 30px;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #f00;
    margin-top: 5px;
}

@media screen and (max-width: 690px) {
    .edit-form__input-error-text {
        min-height: 45px;
    }
}