.popup__close-button {
  margin: 0 0 8px 0;
  padding: 0;
  width: 32px;
  height: 32px;
  align-self: flex-end;
  justify-self: flex-start;
  border: none;
  background: none;
  background-image: url(../../../images/icons/popup__close-button.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.5s ease;
  transition: transform 0.4s ease;
}

@media screen and (max-width: 690px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  transform: scale(0.8) rotate(90deg);
}

.popup__close-button:focus {
  opacity: 0.4;
  outline: none;
}
